.resultsArea {
	display: none;
}
body {

        font-family: 'Amatic SC', cursive;
        font-size: 2em;
        width: 13em;
        margin: auto;
}
h1 {
        font-family: 'Abril Fatface', cursive;
        font-size: 1.5em;
}
input[type='radio'] {
        display: none;
}
label, #next {
        cursor: pointer;
}
label:hover {
        color: #4f8585;
}
input[type='radio']:checked + label{
        font-weight: bold;
        color: #4f8585;
}
#next {
        float: right;
}
#warning {
        margin-top: 1em;
        color: red;
}
