.resultsArea {
	display: none;
}
.quizArea {
        display: none;
}
body {

        font-family: 'Amatic SC', cursive;
        font-size: 2em;
        width: 13em;
        margin: auto;
}
h1 {
        font-family: 'Abril Fatface', cursive;
        font-size: 1.5em;
}
input {
        display: none;
}
label, #next, #go {
        cursor: pointer;
}
label:hover {
        color: #4f8585;
}
input:checked + label{
        font-weight: bold;
        color: #4f8585;
}
#next, #go {
        float: right;
        border: 1px dotted #4f8585;
        padding: 0 0.5em;
}
#warning {
        margin-top: 1em;
        color: red;
}
.table {
        border-collapse: collapse;
}
.table-row {
        border-top: 1px solid black;
}
#selectionArea {
        min-height: 6.4em;
}
